<div>
    <h2 id="page-heading">
        <span jhiTranslate="vinpuApp.userTrackingTime.home.title">User Tracking Times</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-tracking-time" [routerLink]="['/user-tracking-time/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="vinpuApp.userTrackingTime.home.createLabel">
            Create a new User Tracking Time
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'vinpuApp.userTrackingTime.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="userTrackingTimes?.length === 0">
        <span jhiTranslate="vinpuApp.userTrackingTime.home.notFound">No userTrackingTimes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userTrackingTimes && userTrackingTimes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="vinpuApp.userTrackingTime.startTime">Start Time</span></th>
                    <th scope="col" ><span jhiTranslate="vinpuApp.userTrackingTime.endTime">End Time</span></th>
                    <th scope="col" ><span jhiTranslate="vinpuApp.userTrackingTime.duration">Duration</span></th>
                    <th scope="col" ><span jhiTranslate="vinpuApp.userTrackingTime.role">Role</span></th>
                    <th scope="col" ><span jhiTranslate="vinpuApp.userTrackingTime.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userTrackingTime of userTrackingTimes ;trackBy: trackId">
                    <td><a [routerLink]="['/user-tracking-time', userTrackingTime.id, 'view']">{{ userTrackingTime.id }}</a></td>
                    <td>{{ userTrackingTime.startTime | date:'medium' }}</td>
                    <td>{{ userTrackingTime.endTime | date:'medium' }}</td>
                    <td>{{ userTrackingTime.duration }}</td>
                    <td>{{ userTrackingTime.role }}</td>
                    <td>
                        {{ userTrackingTime.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-tracking-time', userTrackingTime.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-tracking-time', userTrackingTime.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userTrackingTime)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
